@import '@servicenow/sass-kit/host';

.container {
  display: flex;
  flex-wrap: wrap;
}

.now-template-card {
  width: 50%;
}

.filter-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.filter-option {
  font-size: small;
  padding: 5px 0;

  input, select {
    float: right;
  }
}

.filter-button {
  max-width: 30%;
  margin-top: 5px;
}